

.btn {   
    color: white;            /*Estos CSS corresponten a los Link, Facebook-YouTube-Google*/
    margin-right: 10px;
    border: 1px solid blue;
    padding: 5px 10px;
    background-color: blue;
    border-radius: 10px;
}
.btn:hover, .btn1:hover {
    background-color: white;
    color: black; 
}
.btn1 {
    color: white;
    margin-right: 10px;
    border: 1px solid yellow;
    padding: 5px 10px;
    background-color:yellow;
    border-radius: 10px;
}

.btn2{
    color: white;
    margin-right: 10px;
    border: 1px solid red;
    padding: 5px 10px;
    background-color: red;
    border-radius: 10px;
}
.btn2:hover {
    background-color: white
    ;
    color: black; 
}
.detalle{
    text-decoration: none;
    font-size: 16px;
}

.contenedor{
    width: 1200px;
    margin: 0 auto;
}

body{
    padding: 20px;
}